body { background: #496faa; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-email-0 { color: #8956fd; font-size: 20px; margin-bottom: 5px; }
.block-token-1 { color: #7f476f; font-size: 15px; margin-bottom: 5px; }
.block-shipping-2 { color: #ef4d8c; font-size: 17px; margin-bottom: 5px; }
.block-token-3 { color: #e26de4; font-size: 13px; margin-bottom: 5px; }
.block-uploader-4 { color: #31b7bb; font-size: 19px; margin-bottom: 5px; }
.block-shipping-5 { color: #95d211; font-size: 20px; margin-bottom: 5px; }